.container_transaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
    background-color: rgb(246, 246, 238);
    border: solid 2px #514646;
    border-radius: 10px;
}
.transaction-history {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}
.transaction-history thead  tr {
    display: flex;
    gap: 160px;  
    background-color: #ceb6b6;
}
.transaction-history tbody {
    display: flex;
    flex-direction: column;
}
.transaction-history tbody tr {
    display: flex;
}
.transaction-history td {
    flex: 1;
    border: 2px solid rgb(95, 90, 90);
    padding: 8px;
}
.transaction-title {
    font-size: 24px;
    border: 2px solid rgb(95, 90, 90);
}